body {
  position: relative;
}

.bg {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background: #ce5937;
  background: -moz-linear-gradient(
    -45deg,
    #ce5937 0%,
    #1c6ea4 50%,
    #c59237 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ce5937 0%,
    #1c6ea4 50%,
    #c59237 100%
  );
  background: linear-gradient(135deg, #ce5937 0%, #1c6ea4 50%, #c59237 100%);
}

* {
  text-align: center;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 36;
  font-weight: 200;
  background-color: #d39b8a;
  text-align: center;
}
form {
  border: 5px solid #1c6ea4;
  padding: 70px 0px;
  margin: auto;
  background-color: white;
  height: 400px;
  width: 600px;
  text-align: center;
}
.totalcal {
  border: 5px solid #1c6ea4;
  padding: 70px 0px;
  margin: auto;
  background-color: white;
  height: 200px;
  width: 600px;
  text-align: center;
}

.nav-structure {
  display: flex;
}

#topnav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #1c6ea4;
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
}

.nav-link {
  display: inline-block;
  width: 100px;
  height: 55px;
  color: White;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
}

#logo {
  width: 120px;

  font-weight: bold;
  font-size: larger;
}
.img-fluid {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.form-select {
  width: 25% !important;
  margin: auto;
  border-radius: 25%;
}

.card-img-top {
  width: 299px;
  height: 199px;
}
#card-group {
  padding: 1cm;
  display: inline-block;
  display: flex;
}
.card {
  border-radius: 25px !important;
  overflow: hidden;
  padding: 0 20px;
  margin: 0 20px;
}
